table.view_customize.list td.path, table.view_customize.list td.comments {
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap : break-word;
}

table.view_customize.list td.id {
    padding-left: 5px;
}

table.view_customize.list td.insertion_position {
    white-space: nowrap;
}

table.view_customize.list tr.disable {
    color: #aaaaaa;
}

table.view_customize.list tr.private {
    font-style: italic;
}

table.view_customize.box {
    width: 100%;
}

table.view_customize.box th {
    text-align: right;
    vertical-align: top;
    width: 10%;
    padding: 0 10px;
    white-space: nowrap;
}

table.view_customize.box td {
    vertical-align: top;
}

table.view_customize.box td pre {
    margin: 0;
    padding: 2px 4px;
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
}

textarea#view_customize_code {
    resize: vertical;
    width: 95%;
}

input#view_customize_comments {
    width: 95%;
}

.icon-view_customize {
    background-image: url("../images/view_customize.png");
}
