table.view_customize.list td.path, table.view_customize.list td.comments {
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap : break-word;
}

table.view_customize.list td.id {
    padding-left: 5px;
}

table.view_customize.list td.insertion_position {
    white-space: nowrap;
}

table.view_customize.list tr.disable {
    color: #aaaaaa;
}

table.view_customize.list tr.private {
    font-style: italic;
}

table.view_customize.box {
    width: 100%;
    table-layout: fixed;
}

table.view_customize.box th {
    text-align: right;
    vertical-align: top;
    width: 160px;
    padding: 2px 10px 2px 0px;
}

table.view_customize.box td {
    vertical-align: top;
    padding: 2px;
}

table.view_customize.box td pre {
    margin: 0;
    padding: 2px 4px;
    background-color: #fafafa;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

textarea#view_customize_code {
    resize: vertical;
    width: 95%;
}

input#view_customize_comments {
    width: 95%;
}

.icon-view_customize {
    background-image: url("../images/view_customize.png");
}

.icon-view_customize-disable {
    background-image: url("../images/disable.png");
}

.icon-view_customize-enable {
    background-image: url("../images/enable.png");
}
